#
# Configure the BDS Menu entries
#
[UEFI Menu]

Indent = 3
FirstRow = 1
# DefaultSelect = 2

#
#  First Label and App should be for Exit option
#    Menu code will just exit on selection of 0 option
#    So do NOT change this option
#
Label = "Exit Menu"
App = Exit

#
# 
#    
#
Label = "List Supported Panels and Overrides"
FvGuid = "87E6CC53-A9A7-4A49-A735-451472E70F83"
App = DisplayApp
Arg = "-panelid"

#
# 
#    
#
Label = "Reset Panel Override (Use Auto detect)"
FvGuid = "87E6CC53-A9A7-4A49-A735-451472E70F83"
App = DisplayApp
Arg = "-panelid:0"

#
# 
#    
#
Label = "Toggle Panel Override (Select next panel)"
FvGuid = "87E6CC53-A9A7-4A49-A735-451472E70F83"
App = DisplayApp
Arg = "-panelid:next"

#
# 
#    
#
Label = "Run display test suite (BVT)"
FvGuid = "87E6CC53-A9A7-4A49-A735-451472E70F83"
App = DisplayApp
Arg = "-bvt"


#
# If BDS Menu should show some platform specific help string at the bottom of the
# menu, add it here as value for MenuHelp
# MenuHelp = "Platform has specific help need?"

