##
##  UFS Provisioning configuration file
##

[Config]
Version = 1
MaxUfsInstancesForProvision = 2

#############################################################################################
## 
## For each UFS instance you want to provision, add a new section. The section name is [UFSX], 
## where X is the UFS instance. Therefore, [UFS1] would be the configuration for 
## secondary UFS. 
##
## Note: Please use decimal values for all the numbers provided. 
## 
## The first lines in each section will contain information that apply to the entire
## UFS device
## 
## bNumberLU: 
## The total number of LUNs to create for the UFS instance
## 
## bBootEnable:
## 0 = Boot feature disabled 
## 1 = Boot feature enabled 
##
## bDescrAccessEn: 
## 0 = Device descriptor cannot be read after partial initialization
## 1 = Device descriptor can be read after partial initialization
##
## bInitPowerMode: 
## 0 = Device is in sleep mode after device initialization/hardware reset
## 1 = Device is in active mode after device initialization/hardware reset 
##
## bHighPriorityLUN: 
## The high priority LUN (all units have same priority if value = 0x7F)
##
## bSecureRemovalType (see section 12.2.3.6 of UFS spec): 
## 0 = Data removed by erasing the physical memory
## 1 = Data removed by overwriting the data + erase
## 2 = Data removed by writing a character, its complement, then a random character
## 3 = Data removed through a vendor defined mechanism 
##
## bInitActiveICCLevel (see section 7.4.1.1 of UFS spec): 
## Defines active ICC level after power on/reset 
##
## wPeriodicRTCUpdate (see section 14.1.4.2 of UFS spec): 
## Defines frequency and method of Real-Time clock update 
##
## bConfigDescrLock: 
## 0 = Configuration is not locked (can re-provision)
## 1 = Configuration is locked (no re-provision allowed)
##
## LUNtoGrow: 
## Indicates the LUN number to occupy the remaining space after all other LUNs 
## are configured 
##
## qVendorConfigCode: 
## Vendor specific configuration code (if applicable)
##
## After that, the subsequent lines will contain information about the individual LUNs 
## to be created. For each LUN created, you will provide the following: 
## 
## LUNum:
## The number of the LUN (start from 0 and increase by 1 each time)
## 
## bLUEnable: 
## 0 = LUN is disabled
## 1 = LUN is enabled
##
## bBootLunID: 
## 0 = LUN is not bootable
## 1 = Boot LUN A
## 2 = Boot LUN B
## 
## bLUWriteProtect (see section 12.3.2 of UFS spec): 
## 0 = LUN can be configured for secure write protection 
## 1 = LUN can be configured for power on write protection
## 2 = LUN can be configured for permanent write protection 
##
## bMemoryType: 
## 0 = Normal Memory
## 1 = System code memory type 
## 2 = Non-Persistent memory type
## 3 = Enhanced memory type 1 
## 4 = Enhanced memory type 2
## 5 = Enhanced memory type 3
## 6 = Enhanced memory type 4
##
## qSizeInKb: 
## Size of the LUN in KB
##
## bDataReliability (see section 13.4.7 of UFS spec): 
## 0 = LUN is not protected- Data may be lost due to power failure on a write operation
## 1 = LUN is protected - Data is protected against power failure
##
## bLogicalBlockSize: 
## Sector size of the LUN = 2^bLogicalBlockSize 
##
## bProvisioningType (see 11.3.9.2 and 12.2.3.5 of UFS spec): 
## 0 = Thin provisioning is disabled
## 2 = Thin provisioning is enabled and TPRZ = 0
## 3 = Thin provisioning is enabled and TPRZ = 1
## 
## wContextCapabilities (see section 13.4.9 of UFS spec): 
## The number of contexts that the LU supports 
############################################################################################ 

##
## Below is an example where we configure a single LUN for the secondary UFS 
##

[UFS1]
bNumberLU = 1
bBootEnable = 0
bDescrAccessEn = 0
bInitPowerMode = 1
bHighPriorityLUN = 0
bSecureRemovalType = 3
bInitActiveICCLevel = 0
wPeriodicRTCUpdate = 0
bConfigDescrLock = 0
LUNtoGrow = 0

LUNum = 0
bLUEnable = 1
bBootLunID = 0
bLUWriteProtect = 0
bMemoryType = 0
qSizeInKb = 4096
bDataReliability = 0
bLogicalBlockSize = 12
bProvisioningType = 2
wContextCapabilities = 0
